<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<!-- navbar-->
<nav class="container navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:20px">
    <a class="navbar-brand" href="#"><img style="width: 150px;height:60px" src="/Engagement-clipart-employee.jpg"></a>
    <a class="navbar-brand" style="margin-top: 10px" href="#" th:text="#{EmployeeManagement}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 10px">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="font-size: 20px"  href="/?lang=en" th:text="#{English}"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="font-size: 20px" href="/?lang=km" th:text="#{Khmer}"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="font-size: 20px" href="/?lang=ko"th:text="#{Korean}"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide container mb-5 pb-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/a3975ea4-performance-management-cycle.jpg " height="450px" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/background.jpg"  height="450px" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/c2e34216-employee-performance-and-employee-engagement.jpg" height="450px" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--content crud-->
<div class="container mb-4 " style="margin-top: 50px">
    <a th:href="@{/showNewEmployeeForm}" class="btn btn-info " style="float: left" th:text="#{Add}"></a>
    <h1 style="color: #13B7BF; margin-bottom: 20px;margin-top:10px;font-size: 30px" class="d-flex justify-content-center" th:text="#{EmployeeList}"> </h1>

    <table  th:border="dark" class="table table-responsive-md ">
        <thead >
        <tr  class="bg-info" style="color: white;text-align: center">
            <th>#</th>
            <th th:text="#{FirstName}"></th>
            <th th:text="#{LastName}"></th>
            <th th:text="#{Gender}"></th>
            <th th:text="#{Salary}"></th>
            <th th:text="#{Email}"></th>
            <th th:text="#{Actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center" class="table-secondary" th:each="employee : ${listEmployees}">
            <td  th:text="${employee.id}"></td>
            <td  th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.gender}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${employee.id})}" class="btn btn-success" th:text="#{View}"></a>
                <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-warning" th:text="#{Update}"></a>
                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger" th:text="#{Delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
<!--            <div class = "col-sm-2" style="font-size: 18px;color: #C618BB" th:text="#{TotalPage}">Total Rows : [[${totalItems}]]</div>-->
            <div class = "col-sm-2" style="font-size: 18px;color: #C618BB" th:text="#{TotalPage}"></div>
            <div class = "col-sm-1" style="font-size: 18px;margin-top: 2px">
                 <span  th:each="i: ${#numbers.sequence(1, totalPages)}" >
                  <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                  <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                 </span>
            </div>

        </div>
    </div>

</div>

<!--footer-->
<div th:replace="/footer"></div>

</body>

</html>




