<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div  class="container" >

    <div style="padding-bottom: 10px;width:500px;margin: auto; box-shadow: 5px 5px 5px 5px lightgray;">

    <h2 style="color: #27B2AF;padding: 15px;margin-left: 120px;margin-bottom: 10px;margin-top: 20px">Save Employee</h2>

    <form  style="margin-left: 60px;padding: 15px" action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-4 col-10">

        <input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-4 col-10">

        <input type="text" th:field="*{gender}" placeholder="Employee Gender" class="form-control mb-4 col-10">

        <input type="text" th:field="*{salary}" placeholder="Employee Salary" class="form-control mb-4 col-10">

        <input type="text" th:field="*{email}" placeholder="Employee Email" class="form-control mb-4 col-10">

        <a style="float: left;margin-top: 10px;" th:href="@{/}"> Back to Employee List</a>
        <button  type="submit" class="btn btn-info ml-3 col-5" > Save Employee</button>
    </form>

    </div>

</div>
</body>

</html>