
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div  class="container" >

    <div style="padding-bottom: 10px;width:500px;margin: auto; box-shadow: 5px 5px 5px 5px lightgray;">

        <h2 style="color: #E6B31A;padding: 15px;margin-left: 120px;margin-bottom: 10px;margin-top: 20px">Update Employee</h2>

        <form style="margin-left: 60px;padding: 15px;margin-top: 10px;" action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{firstName}" class="form-control mb-4 col-10">

            <input type="text" th:field="*{lastName}" class="form-control mb-4 col-10">

            <input type="text" th:field="*{gender}" class="form-control mb-4 col-10">

            <input type="text" th:field="*{salary}" class="form-control mb-4 col-10">

            <input type="text" th:field="*{email}" class="form-control mb-4 col-10">

            <a style="float: left;margin-top: 10px;" th:href="@{/}"> Back to Employee List</a>
            <button type="submit" class="btn btn-warning ml-3 col-5"> Update Employee</button>
        </form>

    </div>

</div>
</body>

</html>