<!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>View</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div style="margin-top: 50px">
                <div class="card" style=" box-shadow: 5px 5px 5px 5px lightgray;margin: auto;width: 18rem;" action="#" th:action="@{/view}" th:each="employee : ${listEmployees}">
                    <img class="card-img-top" src="/hacker-with-laptop_23-2147985341.jpg" alt="Card image cap">
                    <div class="card-body">

                       <h5>Name   : <span class="card-title "  th:text = "${employee.lastName}"></span>  </h5>
                       <h5>Gender : <span class="card-title "  th:text = "${employee.gender}">  </span>  </h5>
                       <h5>Salary : <span class="card-title "  th:text = "${employee.salary}">  </span>  </h5>
                        <a style="margin-top: 10px" class="btn btn-success col-6" th:href="@{/}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>